.ui.card
  %a.image{:href => "#{book_path(book)}" }
    %img{:src => "#{book.cover}"}/
  .content
    %a.header #{book.title}
    .meta
      %span
        - book.authors.each do |author|
          %a
            = author.name
          = "," unless author == book.authors.last
    .description
      = book.description

  .extra.content
    %a
      %i.user.icon
      22 have
  .extra
    .ui.two.buttons
      %form.ui.reply.form{action: book_shelf_path, method: "post"}
        =hidden_field_tag 'book_id', book.id
        %button.ui.basic.green Add to Shelf
      %form.ui.reply.form{action: new_borrow_ticket_path, method: "get"}
        =hidden_field_tag 'book_id', book.id
        %button.ui.basic.green Borrow
