<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :descriptions %>
    <%= form.text_field :descriptions, id: :book_descriptions %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :book_publisher %>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.text_field :published_date, id: :book_published_date %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :book_type %>
  </div>

  <div class="field">
    <%= form.label :page %>
    <%= form.text_field :page, id: :book_page %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
