%p#notice= notice
.ui.container
  .ui.horizontal.segments
    .ui.segment.compact.clearing
      %image{:src => "#{@book.cover}", :style => "max-width: 400px; max-height: 400px"}
    .ui.segment
      %p
      %h2= @book.title
      %p
        - @book.authors.each do |author|
          %a
            = author.name
          = "," unless author == @book.authors.last
      %p
      .ui.star.rating{"data-rating" => "3"}
      = @book.description

  %h4.ui.horizontal.divider.header
    -# %i.bar.chart.icon
    Quotes
  .ui.four.cards
    = render 'quote'
  %h4.ui.horizontal.divider.header
    %i.bar.chart.icon
    Specifications
  %table.ui.definition.table
    %tbody
      %tr
        %td.two.wide.column Nhà xuất bản
        %td= @book.publisher
      %tr
        %td Số Trang
        %td= @book.page
      -# %tr
      -#   %td Color
      -#   %td Yellowish
      -# %tr
      -#   %td Odor
      -#   %td Not Much Usually
  .ui.comments
    %h3.ui.dividing.header Comments
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/matt.jpg"}/
      .content
        %a.author Matt
        .metadata
          %span.date Today at 5:42PM
        .text
          How artistic!
        .actions
          %a.reply Reply
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/elliot.jpg"}/
      .content
        %a.author Elliot Fu
        .metadata
          %span.date Yesterday at 12:30AM
        .text
          %p This has been very useful for my research. Thanks as well!
        .actions
          %a.reply Reply
      .comments
        .comment
          %a.avatar
            %img{:src => "/images/avatar/small/jenny.jpg"}/
          .content
            %a.author Jenny Hess
            .metadata
              %span.date Just now
            .text
              Elliot you are always so right :)
            .actions
              %a.reply Reply
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/joe.jpg"}/
      .content
        %a.author Joe Henderson
        .metadata
          %span.date 5 days ago
        .text
          Dude, this is awesome. Thanks so much
        .actions
          %a.reply Reply
    %form.ui.reply.form
      .field
        %textarea
      .ui.blue.labeled.submit.icon.button
        %i.icon.edit
        Add Reply


= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path
